.heading {
    font-size: 2em;
    font-weight: bold;
    color: #000000;
    align-items: center;
    animation: fadeIn 1.2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.image-section img {
    max-width: 500px;
    height: 50%;
    border-radius: 10px;
}